@import '../../variables';

@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    
    > .image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }
}

.destjumbo{
    @include aspect-ratio(16, 7);

    .txt{
        color : white;
        position: absolute;
        top: 50%;
        left: 55%;
        width: 40%;
        word-wrap: break-word;
        transform: translate(0%, -50%);
    }
}

.destmain{
    width: $media-screen-m;
    margin: auto;
    //background-color: lightpink;
    padding: 16px;
    
    .destmaintitle{
        padding-top: 1%;
        padding-bottom: 1%;
        text-align: center;
    }
   
    // .destinationmainc1{
    //     padding: 16px;
        
    //     background-color: pink;
    //     //margin: 16px;
    // }


    // .destinationmainc2{
       
    //     padding: 16px 0px;
    //     background-color: palevioletred;
        
    //     @media screen and (max-width: $media-screen-s){
    //         padding:16px; 
    //     }
    // }
}