@import '../../variables';

.destinationmain{
    width: $media-screen-m;
    margin: auto;
    background-color: lightpink;
    //padding: 16px;
   
    // .destinationmainc1{
    //     padding: 16px;
        
    //     background-color: pink;
    //     //margin: 16px;
    // }


    // .destinationmainc2{
       
    //     padding: 16px 0px;
    //     background-color: palevioletred;
        
    //     @media screen and (max-width: $media-screen-s){
    //         padding:16px; 
    //     }
    // }
}