<div class="destjumbo">
    <div class="image">
        <img class="d-block w-100" src="assets/images/D_Slider1.jpg" alt="Third slide">
    </div>
    <div class="txt">
        <h1>Top Destination - Editor Choise</h1>
        
        <h5>
            example example example example example example example example example example example example 
        </h5>
        
        <h3>
            read article
        </h3>
    </div>
</div>
<div class="destmain">
    <div class="row destmaintitle">
        <div class="col-md-12">
            <h3>Hot Destination</h3>
        </div>
    </div>

    <div class="row destmaincity">
        <div class="col-md-6">
            <h5>city1</h5>
        </div>

        <div class="col-md-6">
            <h5>city2</h5>
        </div>
    </div>
</div>